@using System.Web.Mvc;

@*@model ViewPage<Richie.NerdDinner.Helpers.PaginatedList<Richie.NerdDinner.Models.Dinner>>*@

@model Richie.NerdDinner.Helpers.PaginatedList<Richie.NerdDinner.Models.Dinner>

@{
    ViewBag.Title = "You Don't Own This Dinner!!";
}

<h2>Error Accessing Dinner</h2>

<p>Sorry - only the host can edit or delete this dinner</p>